$primary: #222;
$darktext:black;
$lighttext:#eee;
// $secondary:rgba(200,0,100,1);
$secondary:#1bd68b;
$headfont:'Niramit';
$bodyfont:'Open Sans';



$gradient1:linear-gradient(royalblue,blue);

$gradient2:linear-gradient(yellow,blue);
